<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Engine.Properties.Settings>
            <setting name="CurrentHealth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxHealth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Experience" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentWeapon" serializeAs="String">
                <value />
            </setting>
            <setting name="InventoryItem" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayerQuest" serializeAs="String">
                <value />
            </setting>
        </Engine.Properties.Settings>
    </userSettings>
</configuration>